* {
    box-sizing: border-box;
}

/* #param {
    color: green;
} */

.success {
    color: green;
    font-weight: 900;
}

.warning {
    color: yellow;
    border: 1px solid yellow;
}

.error {
    color: red;
    border: 1px solid red;
}

.text-lg {
    font-size: 18px;
}

.btn {
    background: none;
    padding: 5px 10px;
    border: 1px solid green;
    font-size: 18px;
}